/* Estilização para tablets */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .header {
        padding: 0px 120px 0px 120px;
    }
    .header__logo {
        display: inherit;
    }

    div.header-navigation__icon {
        display: none;
    }

    .header-navigation__links {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 71px;
        color: white;
    }

    div.header-content {
        display: flex; 
        justify-content: flex-end;
        gap: 106px;
    }
}