/* Estilização para tablets */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .main-hero {
        height: 820px;
        background: url('/assets/backgrounds/png/Grupo\ 52.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding: 0px 120px 0px 120px;
    }

    .main-hero__icon {
        display: none;
    }

    .main-hero__content {
        width: 100%;
        align-items: flex-start;
    }

    .main-hero__content h1 {
        font-size: 90px;  
        font-weight: 400;
    }
    
    .main-hero__content p {
        font-size: 36px;
    }

    .main-hero__logo {
        justify-content: space-between;
    }

    .main-hero__arrow {
        display: inherit;
    }
}