/* Estilização para tablets */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .main-resume {
        height: 300px;
        padding: 96px 120px 96px 120px;
    }

    .main-resume p {
        font-size: 22px;
    }
    
    .main-resume span{
        text-align: center;
        letter-spacing: 0px;
        color: #F25022;
    }
}