.footer {
    display: flex;
    justify-content: center;
}

.footer .conteiner {
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 0;
    padding-bottom: 24px;
    gap: 17px;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    

    & p {
        color: #B4B4B4;
        font-size: 12px;
    }
}