.footer {
    display: flex;
    justify-content: center;
}

.footer .conteiner {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding-bottom: 24px;
    gap: 17px;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer__copy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copy p {
    color: var(--text-grey);
    font-size: 12px;
}