.header {
    width: 100%;
    height: var(--header-size);
    background: var(--text-light-blue) 0% 0% no-repeat padding-box;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Links de navegação e botoes do header */
.header-content {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navigation__icon {
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header-navigation__icon-line {
    height: 2px;
    width: 100%;
    background-color: var(--white);
}
.header__button {
    width: 150px;
    height: 35px;
    font-size: 18px;
    background: var(--dark-blue);
    color: var(--white);
    border: none;
}
.header__button:hover {
    background: var(--btn-light-blue);
    transition: 0.2s;
    border: 1px solid var(--white);
    cursor: pointer;
    border-radius: 8px;
}
.header-navigation__linkitem:hover {
    border-bottom: 2px solid var(--white);
    cursor: pointer;
}

@media (min-width: 1024px) {
    .header .conteiner {
        display: flex;
        align-items: center;
    }
    .header__logo {
        display: inherit;
    }

    div.header-navigation__icon {
        display: none;
    }

    .header-navigation__links {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 71px;
        color: var(--white);
    }

    div.header-content {
        display: flex; 
        justify-content: flex-end;
        gap: 106px;
    }
}