.main-hero {
    height: 650px;
    background: url('/assets/backgrounds/hero/Grupo\ 52.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -280px;
    width: 100%;
    margin-top: var(--header-size);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-hero .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.main-hero__content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.main-hero__content h1 {
    color: var(--white);
    font-size: 46px;
    font-weight: 400;
}
.main-hero__content p {
    font-size: 26px;
    color: var(--white);
    text-align: center;
    font-weight: 100;
}
.main-hero__content button {
    width: 188px;
    height: 52px;
    color: var(--white);
    background-color: var(--btn-light-blue);
    font-size: 22px;
    border: none;
}
.main-hero__content button:hover {
    border: 1px solid var(--white);
    background: #00b7e4;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 8px;
}


.main-hero__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
}

@media (min-width: 1024px) {
    .main-hero {
        height: 820px;
        background: url('/assets/backgrounds/hero/Grupo\ 52.png') top no-repeat ;
        background-size: cover;
    }
    .main-hero__icon {
        display: none;
    }
    .main-hero__content {
        width: 100%;
        align-items: flex-start;
   }
    .main-hero__content h1 {
        font-size: 90px;
        font-weight: 400;
   }
    .main-hero__content p {
        font-size: 36px;
   }
    .main-hero__logo {
        justify-content: space-between;
    }
    .main-hero__arrow { /* Exibe a seta para baixo */
        display: inherit;
    }
}