.main-resume {
    width: 100%;
    text-align: center;
}

.main-resume p {
    font-size: 16px;
    color: var(--text-grey);
    margin: 60px 18px 33px 18px;
}

/* Estilização para tablets */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .main-resume p {
        font-size: 20px;
        margin: 96px 120px 96px 120px;
    }
    
    .main-resume span{
        text-align: center;
        letter-spacing: 0px;
        color: #F25022;
    }
}