.main-resume {
    display: flex;
    justify-content: center;
    margin: 60px 0 33px 0;
}

.main-resume p {
    font-size: 16px;
    color: var(--text-grey);
    text-align: center;
}

@media (min-width: 1024px) {
    .main-resume {
        margin: 96px 0 96px 0;
    }
    .main-resume p {
        font-size: 20px;
    }
    .main-resume span{
        color: var(--red-alert);
    }
}