/* Bloco principal dos valores */
.main-values {
    display: flex;
    justify-content: center;
}

/* Titulo da seção de Valores */
.main-values__title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-values__title h2 {
    font-size: 24px;
    padding-bottom: 27px;
    font-weight: 400;
    color: var(--text-light-blue);
}

/* Grupo da seção de valores */
.main-values__group {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.main-values__group hr {
    height: 3px;
    background-color: #DEDEDE;
    border: none;
}

/* Bloco de valor. Seletor geral */
.main-values__group article {
    display: flex;
}
.main-values__group article h1 {
    font-size: 15px;
    font-weight: 400;
}
.main-values__group article p {
    font-size: 12px;
    color: var(--text-grey);
}
.main-values__group article button {
    width: 100px;
    height: 30px;
    background: transparent;
    padding: 7px 6px 7px 6px;
    font-size: 12px;
}
.main-values__group div:first-child { /* Texto do bloco de valor */
    width: 75%;
}
.main-values__group div:last-child { /* Imagem do bloco de valor  */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Valor 1 */
.main-values__group article:nth-of-type(1) h1 {
    color: #7fba00;
}
.main-values__group article:nth-of-type(1) button {
    color: #7fba00;
    border: 1px solid #7fba00;
}
.main-values__group article:nth-of-type(1) button:hover {
    background: #7fba00;
    transition: 0.2s;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}

/* Valor 2 */
.main-values__group article:nth-of-type(2) h1 {
    color: var(--btn-light-blue);
}
.main-values__group article:nth-of-type(2) button {
    color: var(--btn-light-blue);
    border: 1px solid var(--btn-light-blue);
}
.main-values__group article:nth-of-type(2) button:hover {
    background: var(--btn-light-blue);
    transition: 0.2s;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}

/* <Inicio> Valor 3 */
.main-values__group article:nth-of-type(3) h1 {
    color: #ffb900;
}
.main-values__group article:nth-of-type(3) button {
    color: #ffb900;
    border: 1px solid #ffb900;
}
.main-values__group article:nth-of-type(3) button:hover {
    background: #ffb900;
    transition: 0.2s;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}

.main-values__text-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.main-values__text-item span {
    height: 4px;
    background: #DEDEDE;
    border: none;
    width: 53px;
}

@media (min-width: 1024px) {
    .main-values {
        margin-top: 96px;
    }

    /* Titulo da seção de valores */
    .main-values__title {
        margin-bottom: 48px;
    }
    .main-values__title h2 {
        font-size: 40px;
    }

    .main-values__group {
        flex-direction: row;
        justify-content: space-between;
   }
    .main-values__group article {
        height: 413px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 28%;
        gap: 20px;
   }

   /* Texto do bloco de valores */
    .main-values__group article div:first-child {
        height: 60%;
        width: 100%;
        align-items: center;
   }
    .main-values__group article div:first-child h1 {
        font-size: 20px;
   }
    .main-values__group article div:first-child p {
        font-size: 16px;
        text-align: center;
   }
    .main-values__group article div:first-child button {
        width: 110px;
        height: 41px;
        font-size: 16px;
        border: 3px solid;
   }

   /* Bloco de imagem do bloco de valores */
    .main-values__group article div:last-child {
        width: 100%;
   }
    .main-values__group article div:last-child img {
        width: 160px;
   }
}