.main-values {
    display: flex;
    justify-content: center;
}

.main-values__title {
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
        font-size: 24px;
        padding: 0 0 27px 0;
        font-weight: 400;
        color: var(--text-light-blue);
    }
}

.main-values__group {
    display: flex;
    flex-direction: column;
    gap: 21px;

    & hr {
        height: 3px;
        background-color: #DEDEDE;
        border: none;
    }
    
    & article {
        display: flex;
        
        & h1 {
            font-size: 15px;
        }

        & p {
            font-size: 12px;
            color: var(--text-grey);
        }

        & button {
             width: 100px;
             height: 30px;
             background: transparent;
             padding: 7px 6px 7px 6px;
             font: 12px;
        }
        
        &:nth-of-type(1) {
            & h1 {
                color: #7FBA00;
            }

            & button {
                color: #7FBA00;
                border: 1px solid #7FBA00;
            }
        }

        &:nth-of-type(2) {
            & h1 {
                color: #00A4EF;
            }

            & button {
                color: #00A4EF;
                border: 1px solid #00A4EF;
            }
        }

        &:nth-of-type(3) {
            & h1 {
                color: #FFB900;
            }

            & button {
                color: #FFB900;
                border: 1px solid #FFB900;
            }
        }
    }

    & div:first-child {
        width: 75%;
    }

    & div:last-child {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.main-values__text-item {
    display: flex;
    flex-direction: column;
    gap: 18px;

    & span {
        height: 4px;
        background: #DEDEDE;
        border: none;
        width: 53px;
    }
}


/* Estilização para tablets */
@media (min-width: 768px) {

} 

@media (min-width: 1024px) {

    .main-values {
        margin-top: 96px;
    }

    .main-values__title {
        margin-bottom: 48px;
    
        & h2 {
            font-size: 40px;
        }
    }

    .main-values__group {
        flex-direction: row;
        justify-content: space-between;

        & article {
            height: 413px;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            width: 28%;
            gap: 20px;

            & div {

                &:first-child {
                    height: 60%;
                    width: 100%;
                    align-items: center;

                    & h1 {
                        font-size: 20px;
                    }

                    & p {
                        font-size: 16px;
                        text-align: center;
                    }

                    & button {
                        width: 110px;
                        height: 41px;
                        font-size: 16px;
                        border: 3px solid;
                    }

                }

                &:last-child {
                    width: 100%;

                    & img {
                        width: 160px;
                    }
                }
            }
        }
    }
}