.main-warning {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.main-warning .conteiner {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

/* Texto do titulo da seção */
.main-warning__title {
    height: 68px;
    display: flex;
    justify-content: center;
}
.main-warning__title h2 {
    color: var(--text-light-blue);
    font-size: 24px;
    font-weight: 400;
}

.main-warning__group-item {
    border: 3px solid #DEDEDE;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 24px 30px 24px;
}

.main-warning__group-item h3 {
    font-size: 15px;
    color: var(--red-alert);
    font-weight: 400;
    text-align: center;
}

.main-warning__group-item p {
    font-size: 12px;
    color: var(--text-grey);
    text-align: center;
}

/* Todas as bordas que não forem a ultima vão receber o valor 0 */
.main-warning__group-item:not(:last-child) {
    border-bottom: 0;
}

@media (min-width: 1024px) {
    .main-warning__group {
        display: flex;
    }
    .main-warning__group-item {
        padding: 40px 35px 40px 35px;
    }
    .main-warning__group-item:not(:last-child) { /* remove as bordas da direita exceto a ultima */
        border-bottom: 3px solid #DEDEDE;
    }
    .main-warning__group-item:not(:last-child) { /* remove as bordas da direita exceto a ultima */
        border-right: 0;
    }
    .main-warning__group-item h3 {
        font-size: 20px;
    }
    .main-warning__group-item p {
        font-size: 16px;
    }
    .main-warning__title h2 {
        font-size: 40px;
        font-weight: 400;
    }
}