.main-warning {
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;
}

.main-warning .conteiner {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.main-warning__title {
    height: 68px;
    display: flex;
    justify-content: center;

    & h2 {
        color: var(--text-light-blue);
        font-size: 24px;
    }
}

.main-warning__group-item {
    border: 3px solid #DEDEDE;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 30px 24px 30px 24px;

    & h2 {
        font-size: 15px;
        color: #F25022;
        font-weight: 500;
    }

    & p {
        font-size: 12px;
        color: var(--text-grey);
    }

    /* Todas as bordas que não forem a ultima vão receber o valor 0 */
    &:not(:last-child) {
        border-bottom: 0;
    }
}


/* Estilização para tablets */
@media (min-width: 768px) {

} 

@media (min-width: 1024px) {
    .main-warning__group {
        display: flex;
    }

    .main-warning__group-item {

        padding: 40px 35px 40px 35px;

        /* devolve as bordas */
        &:not(:last-child) {
            border-bottom: 3px solid #DEDEDE;
        }

        /* remove as bordas da direita exceto a ultima */
        &:not(:last-child) {
            border-right: 0;
        }

        & h2 {
            font-size: 20px;
        }

        & p {
            font-size: 16px;
        }
    }

    .main-warning__title {    
        & h2 {
            font-size: 40px;
            font-weight: 400;
        }
    }
    
}