/* importação de estilos padrão (Mobile First) */
@import url('/styles/components/header.css');
@import url('/styles/components/hero.css');
@import url('/styles/components/resume.css');

/* importação de estilos aplicando responsividade */
@import url('/styles/responsive/header.css');
@import url('/styles/responsive/hero.css');
@import url('/styles/responsive/resume.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Verdana;
    background: #FFFFFF;
}