/* importação de estilos padrão (Mobile First) */
@import url('/styles/components/header.css');
@import url('/styles/components/hero.css');
@import url('/styles/components/resume.css');
@import url('/styles/components/cards.css');
@import url('/styles/components/values.css');
@import url('/styles/components/warning.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #FFFFFF;
    --text-light-blue: #2571B7;
    --btn-light-blue: #00A4EF;

    --text-grey: #737373;
    --dark-blue: #002050;
    --header-size: 80px;
}

html, 
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Verdana;
    background: var(--white);
}

.desktop {
    display: none;
}

@media (min-width: 1024px) {
    .desktop {
        display: inherit;
    }
}